@import url('https://fonts.googleapis.com/css?family=Poiret+One|Raleway');
*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	position: relative;
	color: #F6F6F6;
}

.fp-tableCell {
	display: block !important;
}

.section {
	height: 100vh !important;
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: center;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	width: /*whatever width you want*/
	;
}

.container {
	width: 960px;
	margin: 0 auto 0;
}

.upper {
	height: 50vh;
}

.lower {
	height: 50vh;
}

.char {
/*	position: relative;*/
	height: 400px;
/*	margin-right: -20px !important;*/
}

.pieChart {
	position: relative;
	height: 350px;
	width: 350px;
}


/* SECTION 1 */

#section1 {
	background: #2B2B2B;
	color: #fff;
}

#section1 h1 {
	top: 0px;
	font-family: 'Poiret One', cursive;
	font-size: 7em;
	text-align: center;
	color: #F6F6F6;
}

#section1 h2 {
	font-size: 50px;
	padding-bottom: 220px !important;
	margin-left: 100px;
	bottom: 200px;
	line-height: 80px;
	font-weight: 100;
}

#section1 p {
	font-family: Raleway;
	text-align: center;
	font-size: 6em;
	color: #fff;
	position: relative;
	/*	top: -50px;*/
	text-transform: lowercase;
	min-height: 80vh;
}


/*
#section1 .polaroid {
	top: 150px;
	height: 370px;
	width: 330px;
	padding-top: 15px;
	background: #eaecef;
	margin: auto;
	box-shadow: 5px 5px 10px #000;
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
	-moz-transition: -moz-transform .15s linear;
	-ms-transition: -ms-transform .15s linear;
	-webkit-transition: -webkit-transform .15s linear;
}

#section1 .polaroid:hover {
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-webkit-transform: scale(1.25);
	position: relative;
	z-index: 5;
	-moz-transition: -moz-transform .25s linear;
	-ms-transition: -ms-transform .25s linear;
	-webkit-transition: -webkit-transform .25s linear;
	-webkit-box-shadow: 5px 5px 20px #000;
}
*/


/* SECTION 2 */

#section2 {
	background: #2B2B2B;
}

#section2 h2 {
	font-family: Raleway;
	text-align: center;
	font-size: 4em;
	color: #fff;
	position: relative;
	/*	top: -100px;	*/
}

#section2-upper {
	height: 70vh;
}

#section2-lower {
	/*	top: 150px;*/
	height: 20vh;
}

.asterix {
	margin: 0;
	padding: 0;
	position: relative;
	bottom: 20px;
	left: 10px;
	width: 500px;
}

.asterix p {
	color: #6c6d70;
}


/* SECTION 3 */

#section3 {
	background: #2B2B2B;
}


/* SECTION 4 */

#section4 {
	background: #2B2B2B;
}


/* SECTION 5 */

#section5 {
	background: #2B2B2B;
}


.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}