@import url('https://fonts.googleapis.com/css?family=Poiret+One|Raleway');
*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	position: relative;
	color: #2B2B2B;
	font-family: 'Poiret One', cursive;
}

body {
	background: #F6F6F6 !important;
	overflow: hidden;
}

.buttonsNav {
	position: absolute;
	z-index: 10;
}

.button {
	width: 100px;
	display: inline-block;
	padding: 15px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #b6bac1;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.button:hover {
	outline: none;
}

.button:active {
	background-color: #b6bac1;
	box-shadow: 0 5px #999;
	outline: none;
	transform: translateY(4px);
	-moz-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	-webkit-transform: translateY(4px);
}

#buttonUp {
	bottom: 120px;
	left: 50px;
	position: fixed;
	text-align: center;
}

#buttonDown {
	bottom: 30px;
	left: 50px;
	position: fixed;
	text-align: center;
}

.buttonPressed,
.buttonPressed:active {
	background-color: #646568;
	cursor: default;
	box-shadow: 0 5px #666;
	outline: none;
	transform: translateY(4px);
	-moz-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	-webkit-transform: translateY(4px);
}

.outer {
	display: table;
	position: absolute;
	height: 8000px;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: center;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.section {
	background: #F6F6F6;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	position: fixed;
}

.upper {
	height: 40vh;
	width: 1280px !important;
	margin: 0 auto 43px !important;
}

.lower {
	height: 50vh;
	width: 1280px !important;
	margin: 0 auto !important;
}

.char {
	height: 400px;
}

.hidden {
	visibility: hidden;
}


/* SECTION 1 */

#section1 {
	color: #fff;
	z-index: 5;
}

#section1 h1 {
	top: 50px;
	left: 200px;
	font-size: 7em;
	text-align: center;
	background: #F6F6F6;
	width: 600px
}

#section1 hr {
	top: 110px;
	border: 0;
	height: 2px;
	width: 1250px;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#section1 h2 {
	margin-left: 50px;
	bottom: 300px;
	font-size: 50px;
	letter-spacing: 15px;
	line-height: 40px;
}


/* SECTION 2 */

#section2 h2 {
	top: 0px;
	font-size: 4em;
	text-align: center;
	letter-spacing: 10px;
	z-index: 4;
	padding: 10px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

#section2 .char {
/*	width: 200px;*/
	bottom: 71px;
	height: 470px;
	right: 32px;
}

.pieChart {
	height: 500px;
	width: 500px;
	position: relative;
	bottom: 100px;
	left: 300px;
}


/* SECTION 3 */

#section3 h2 {
	top: 0px;
	font-size: 3em;
	text-align: center;
	letter-spacing: 10px;
	text-align: center;
	z-index: 3;
	padding: 10px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

#section3 .char {
	bottom: 2px;
	right: 55px;
}

#section3 h3 {
	top: -50px;
}


/* SECTION 4 */

#section4 {
	z-index: 2;
}

#section4 h2 {
	font-size: 4em;
	text-align: center;
	top: 0px;
	letter-spacing: 10px;
	padding: 10px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

#section4 h3 {
	top: -80px;
}

#section4 .char {
	height: 424px;
	right: 269px;
	bottom: 14px;
}

.sticker {
	background: #d9dce0 !important;
	box-shadow: -10px 10px 4px #444;
	width: 2000px !important;
	overflow: hidden;
}


/* SECTION 5 */

#section5 {
	z-index: 1;
}

.contact-box {
	height: 400px;
	width: 960px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: #d9dce0;
	box-shadow: -10px 10px 4px #444;
	text-align: center;
	color: #646568;
	padding-top: 60px;
}

.contact-box a,
h4 {
	display: inline-block;
	text-decoration: none;
}

.contact-box a:active,
a:visited {
	text-decoration: none;
}
