@import url('https://fonts.googleapis.com/css?family=Poiret+One|Raleway');
*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	position: relative;
	color: #F6F6F6;
	font-family: 'Poiret One', cursive;
}

body {
	background: #2B2B2B !important;
	overflow:hidden;
}

.buttonsNav {
	position: absolute;
	z-index: 10;
}

.button {
	width: 100px;
	display: inline-block;
	padding: 15px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.button:hover {
	outline: none;
}

.button:active {
	background-color: #275928;
	box-shadow: 0 5px #666;
	outline: none;
	transform: translateY(4px);
	-moz-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	-webkit-transform: translateY(4px);
}

#buttonUp {
	bottom: 120px;
	left: 50px;
	position: fixed;
	text-align: center;
}

#buttonDown {
	bottom: 30px;
	left: 50px;
	position: fixed;
	text-align: center;
}

.buttonPressed,
.buttonPressed:active {
	background-color: #275928;
	cursor: default;
	box-shadow: 0 5px #666;
	outline: none;
	transform: translateY(4px);
	-moz-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	-webkit-transform: translateY(4px);
}

.outer {
	display: table;
	position: absolute;
	height: 8000px;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: center;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.section {
	background: #2B2B2B;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	position: fixed;
}

.upper {
	height: 50vh;
	width: 1280px !important;
	margin: 0 auto !important;
}

.lower {
	height: 50vh;
	width: 1280px !important;
	margin: 0 auto !important;
}

.char {
	height: 400px;
}

.hidden {
	visibility: hidden;
}


/* SECTION 1 */

#section1 {
	color: #fff;
	z-index: 5;
}

#section1 h1 {
	top: 80px;
	font-size: 7em;
	text-align: center;
}

#section1 h2 {
	margin-left: 50px;
	bottom: 300px;
	font-size: 50px;
	letter-spacing: 15px;
	line-height: 40px;
}


/* SECTION 2 */

#section2 h2 {
	font-size: 4em;
	text-align: center;
	top: 30px;
	letter-spacing: 2px;
	z-index: 4;
}

#section2 .char {
	right: 49px;
}

.pieChart {
	height: 520px;
	width: 520px;
	position: relative;
	bottom: 130px;
	left: 300px;
}


/* SECTION 3 */

#section3 h2 {
	top: 30px;
	left: 30px;
	font-size: 4em;
	text-align: center;
	letter-spacing: 2px;
	line-height: 45px;
	text-align: left;
	z-index: 3;
}

#section3 .char {
	height: 447px;
	bottom: 49px;
	right: 21px;
}


/* SECTION 4 */

#section4 {
	z-index: 2;
}

#section4 h2 {
	font-size: 4em;
	text-align: center;
	top: 50px;
	letter-spacing: 2px
}

#section4 h3 {
	top: -100px;
}

#section4 .char {
	right: 221px;
}


/* SECTION 5 */

#section5 {
	z-index: 1;
}

.contact-box {
	height: 400px;
	width: 960px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: lightgray;
	box-shadow: -10px 10px 4px #444;
	text-align: center;
	color: #2B2B2B;
	padding-top: 60px;
}



.contact-box a, h4 {
	display: inline-block;
	text-decoration: none;
}

.contact-box a:active, a:visited {
	text-decoration: none;
}






